.recipe {
    width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 20px 0;
    box-sizing: border-box;
}

.recipe ul {
    margin: 10px 0;
}


.recipe li {
    list-style: none;
    margin-right: 10px;
    margin: 10px 0;
    color: #777;
}

.recipe li::after {
    content: ',';
}

.recipe li:last-child::after {
    content: '.';
}

.method {
    text-align: left;
    line-height: 1.5em;
    padding: 0 20px;
}